.gradient-overlay {
    width: 100%;
    height: 15vh;
    background: linear-gradient(to bottom, black, #aee1f9);
}

.gradient-overlay.light {
    background: linear-gradient(to bottom, black, #aee1f9);
}

.gradient-overlay.dark {
    background: linear-gradient(to bottom, black, #1c1c3c);
}
