body, html, #root, .app-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
    color: black;
}
